@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-rate-gradient {
    background: linear-gradient(180deg, #c3cde2 0%, #eaebed 100%);
}
.flex-i {
    display: flex !important;
}
.common_heading {
    color: #3363af;
    font-weight: 700;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@variants lg {
    .no-hover:hover {
        background-color: inherit !important;
    }
}

.bg-primary01 {
    background-color: #3262ae1a;
}
.display-dot {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.no-max-width {
    max-width: none;
}
